
.recipe-img{
    margin: 22px;
}
.recipe-img img{
    width: 320px;
}
.recipe-info{
    font-size: 15px;
    text-align: center;
    margin-top: 39px;
}
.recipe-info a{
    font-size: 12px;
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 30px;
    background: #6c7a6b;
    color: white;
}
.recipe-info a:hover{
    background-color: green;
}
