
.header .button{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 12px;
    margin: 10px;
    border-radius: 40px;
    border: 2px solid black;
}
.header .button:hover{
    background-color: #6c7a6b;
}
.protected-items .items{
    display: inline;
}

@media only screen and (max-width: 776px)  {
    .header{
        font-weight: 400;
        width: 100%;
    }
    .header .button{
        width: 103px;
        margin: 15px auto;
    }
    .protected-items .items{
        display: block;
    }
}