.container h2{
    font-size: 25px;
    font-style: italic;
}
.container h4{
    font-size: 18px;
    font-style: italic;
}
.blog {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    }

    @media screen and (max-width: 576px) {
    .blog {
        grid-template-columns: repeat(1, 1fr);
    }
}